.video-quality {
    border: 1px solid hsla(0,0%,100%,.4);
    border-radius: 3px;
    color: hsla(0,0%,100%,.9);
    font-size: .7em;
    padding: 0 0.5em;
    white-space: nowrap;
    width: fit-content;
}

.top-ranking {
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    font-size: .8rem;
    line-height: .8rem;
    background-color: #e50914;
    color: white;
    text-align: center;
}

.shadow {
    background: linear-gradient(0deg, var(--dark-color, $netflix-black) var(--tranparency-height, 40%), var(--dark-color, $netflix-black) calc(var(--tranparency-height, 50%) - 10%), rgba(255,255,255,0) 100%);
}

.select-popup {
    min-width: 4em;
    position: relative;
    width: fit-content;

    button {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        font-size: 1.5em;
        background-color: rgb(36, 36, 36);
        padding: 0.5em 1em;
        color: white;
        cursor: pointer;
        border: 0.1em solid rgb(77, 77, 77);
        border-radius: 0.2em;

        &[data-open="1"] {
            &::after {
                transform: rotate(180deg);
            }
        }

        &::after {
            transition: transform .5s;
            content: '\f0d7';
            font-family: "Font Awesome 6 Free";
            font-weight: bold;
            margin-left: 10px;
        }
    }

    button:hover + ul {
        //display: block;
    }

    ul {
        //display: none;
        min-width: 4em;
        position: absolute;
        right: 0px;
        cursor: pointer;
        color: white;
        list-style-type: none;
        border: 0.1em solid rgb(77, 77, 77);
        margin-top: 0.1em;
        font-size: 1.5em;
        z-index: 1;
        background-color: rgb(36, 36, 36);
        white-space: nowrap;
        column-gap: 1.8em;
        max-height: max(10em, 285.125px - 2rem);
        overflow: auto;
        padding: 1rem 0px;

        &::-webkit-scrollbar {
            width: 10px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10px;
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #b8b7b7;
        }

        li {
            min-width: 4em;
            padding: 0.5em 0.8em;
            display: block;
            break-inside: avoid;
        }
    }
}

@import "modules/header";
@import "modules/mobile-menu";
@import "modules/featured-tv-show";
@import "modules/buttons";
@import "modules/tv-shows-carousel.scss";
@import "modules/mini-preview-modal.scss";
@import "modules/preview-modal.scss";