$netflix-red: #e50914;
$netflix-black: #141414;

$containers-width: 93vw;

/* breakpoints */
$xs: 'only screen and (max-width: 575px)';
$sm: 'only screen and (min-width: 576px)';
$alt-md: 'only screen and (max-width: 767px)';
$md: 'only screen and (min-width: 768px)';
$alt-lg: 'only screen and (min-width: 991px)';
$lg: 'only screen and (min-width: 992px)';
$xlg: 'only screen and (min-width: 1200px)';
$xxlg: 'only screen and (min-width: 1600px)';
$xlg4k: 'only screen and (min-width: 3840px)';
$lg-xxlg: 'only screen and (min-width: 992px) and (max-width: 1600px)';